// 默认值
$accentColor = #9B59B6                      // 主题颜色
$textColor = #8E44AD                       // 文本颜色
$borderColor = #9B59B6                      // 边框线颜色
$codeBgColor = #4A235A                      // 代码块背景色
$backgroundColor = #9B59B6                  // 悬浮块背景色
